#newButton {
    background-color: white(200, 0, 0);
    color: black;
    border: solid 1px;
    height: 36px;
    border-radius: 2px;
    border-color: black;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    transition: opacity 0.15s;
    align-self: center;
    white-space: nowrap;
    
}



.center, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

h1 {
    margin-bottom: 10px;
}

#newButton:hover {
    opacity: 0.5;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
}

.square {
    width: 60px;
    height: 60px;
    background-color: black;
    border: solid;
    border-width: 0.5px;
    border-color: white;
}

.square.hovered {
    background-color: white;
}